@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply flex bg-black text-white rounded-full px-4 py-2 items-center justify-center h-11 w-fit;
  }
}

*{outline: 1px solid red;}   


:root {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
#root {
  min-height: 100vh;
  min-width: 100dvw;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}