@tailwind base;
@tailwind components;
@tailwind utilities;

*{outline:1px solid red;}   


:root {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}